* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
/* whole page */
.container-fluid {
  width: 100%;
  height: fit;
}

/* header */
.menu-head {
  width: 100%;
  height: 10vh;
  background-color: rgb(222, 184, 135);
  font-family: Verdana;
  font-size: 18px;
  text-size-adjust: 10px;
  display: flex;
  box-shadow: 0 0 10px #ccc;
  justify-content: space-between;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}
.menu-logo {
  width: 20%;
  height: 100%;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    img {
      height: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .menu-logo {
    width: 15%;
  }
  .menu-logo a h3 {
    display: none;
  }
}
.menu-bar {
  width: 50%;
  height: 100%;
  a {
    transition: 0.5s;
  }
  a:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 100px;
    transition: 0.5s;
  }
}
@media screen and (max-width: 767px) {
  .menu-bar {
    width: 60%;
  }
  .menu-bar a {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
  }
}
.menu-item {
  width: 30%;
  height: 100%;
  ul {
    display: flex;
    justify-content: end;
    li {
      margin: 3%;
    }
    #search-bar {
      width: 300px;
      padding: 2%;
      border-radius: 50px;
      background-color: bisque;
      input {
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
    .cart-bar {
      display: flex;
      #countpro {
        margin: -5px -5px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: small;
        display: flex;
        background-color: red;
        color: white;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .menu-item {
    width: 30%;
    height: 100%;
    font-size: 10px;
  }
  .menu-item ul {
    display: flex;
    justify-content: end;
    li {
      margin: 5%;
    }
    #search-bar {
      width: 55px;
      height: 20px;
      padding: 2%;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: bisque;
      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
    .cart-bar {
      display: flex;
      #countpro {
        margin: -5px -5px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: small;
        display: flex;
        background-color: red;
        color: white;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/*loginModal*/
.showItem {
  width: 100%;
  display: flex;
  input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
  }
}

/* image logo */
#topimg {
  width: 50%;
  margin: auto;
  transition: 1s;
  img {
    width: 100%;
  }
}

/* float_Cart from the right */
#showCart {
  width: 40%;
  height: 80vh;
  translate: 110%;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  top: 11%;
  right: 1%;
  background-color: white;
  transition: 1s ease-in-out;
  table {
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    text-align: center;
    tr,
    th {
      display: flex;
      width: 100%;
    }
    td {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  button {
    width: 50px;
    padding: 1%;
    margin-right: 2%;
    border-radius: 5px;
    border: none;
  }
  #addBtn {
    background-color: burlywood;
  }
  #delBtn {
    background-color: red;
  }
  #btnclose,
  #btnbuy {
    width: 100px;
    margin: 1%;
  }
}
.txt {
  width: 50%;
  margin: 1% auto;
  text-align: center;
  padding: 4%;
  font-size: 50px;
  text-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .txt {
    width: 50%;
    margin: 1% auto;
    text-align: center;
    padding: 4%;
    font-size: 25px;
    text-wrap: wrap;
  }
}
/* ourService */
.showContent {
  width: 80%;
  height: fit-content;
  display: flex;
  margin: auto;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  .box {
    width: 21%;
    display: flex;
    padding: 1%;
    border-radius: 10px;
  }
  .imgbox,
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all 1s;
  }
  .imgbox,
  img:hover {
    transform: scale(1.1);
    transition: all 1s;
  }
}
/* profile Chef */
.showImg2 {
  width: 100%;
  padding: 5%;
  height: fit-content;
  display: flex;
  align-items: center;
  .image img {
    width: 500px;
    border-radius: 10px;
    position: relative;
  }
  img:hover {
    transform: scale(0.9);
  }
  .description {
    width: 50%;
    font-size: 20px;
    padding: 1%;
    text-wrap: wrap;
    text-align: justify;
  }
}
/* menuContent */
.showPro {
  width: 100%;
  height: fit-content;
  .Product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-wrap: pretty;
    justify-content: space-around;
  }
  .Product .probox {
    width: 20%;
    height: 400px;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px #ccc;
    margin: 1%;
    .proImg {
      width: 100%;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        transition: all 0.5s;
      }
      img:hover {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
    .proDes {
      margin-top: 10%;
      width: 100%;
      height: 50%;
      text-align: center;
      #addCart {
        width: 100px;
        cursor: pointer;
        padding: 2% 4%;
        border-radius: 100px;
        background-color: rgb(87, 87, 87);
        color: white;
        border: none;
        font-size: 15px;
      }
      h4 {
        font-size: 15px;
        margin: 5%;
        text-wrap: balance;
      }
      h3 {
        text-transform: uppercase;
        font-size: 22px;
        margin: 5%;
        text-wrap: balance;
      }
    }
  }
  /* responseToPhone */
  @media screen and (max-width: 767px) {
    .Product .probox {
      width: 40%;
      height: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px #ccc;
    }
    .proDes {
      margin-top: 5%;
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #addCart {
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(255, 149, 149);
        color: white;
        border: none;
        font-size: 15px;
      }
      h4,
      h3,
      h6 {
        width: 100%;
        font-size: 10px;
        text-wrap: balance;
      }
    }
  }
}
#gotop {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
  .arr-top {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
  }
  @media screen and (max-width: 767px) {
    .arr-top {
      width: 20px;
      height: 20px;
    }
  }
}
/* Footer */
#Contact {
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
}
